#====================================================
#     BINARY FILES
#====================================================
obj
lib
bin
a.out

#====================================================
#     PERSONAL FILES
#====================================================
.vscode

#====================================================
#     OTHER FILES
#====================================================
*.out.*
*.txt
!CMakeLists.txt
*.odt
*.rtf
*.log
**build**

#====================================================
#     CMake FILES
#====================================================
**/CMakeFiles/**

Makefile
cmake_install.cmake
*.so
*.dylib
osmanip_test_suite

src/main.cpp